@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
  --primary-cyan: hsl(171, 66%, 44%);
  --shadow-cyan: hsl(171, 46%, 44%);
  --primary-blue: hsl(233, 100%, 69%);
  --shadow-blue: hsl(233, 80%, 59%);
  --dark-gray: hsl(210, 10%, 33%);
  --light-gray: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-size: cover;
  font-family: 'Bai Jamjuree',
    sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--dark-gray);
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.0rem;
}

p {
  color: var(--light-gray);
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

@media only screen and (min-width: 375px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }
}