.access-section {
  width: 100vw;
  padding: 30px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.access-title {
  margin: 40px 0 24px;
}

.access-text {
  line-height: 1.5;
  max-width: 600px;
}

.access-img {
  width: 100%;
  margin: 60px 0 20px;
  max-width: 500px;
}

@media only screen and (min-width: 768px) {
  .access-img {
    width: 70vw;
    max-width: 800px;
  }
}